*.tsv.gz
*.csv.gz
*.tsv
*.csv
*.bash*
.cache/
.config/
huggingface/
.huggingface/
.gitconfig

.lock
.local
.profile
.python_history
.ssh/
git-*
google-cloud*
training/
training*

nltk*
vit-gpt-captioning
transformers/
datasets/
wit_dataset/
hf_flax/


